<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ArtISCode</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>domain.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>domain.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProfile</display-name>
    <servlet-name>GetProfile</servlet-name>
    <servlet-class>domain.GetProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfile</servlet-name>
    <url-pattern>/GetProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>domain.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>domain.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Result</display-name>
    <servlet-name>Result</servlet-name>
    <servlet-class>domain.Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Result</servlet-name>
    <url-pattern>/Result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLogin</display-name>
    <servlet-name>CheckLogin</servlet-name>
    <servlet-class>domain.CheckLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLogin</servlet-name>
    <url-pattern>/CheckLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventServlet</display-name>
    <servlet-name>EventServlet</servlet-name>
    <servlet-class>domain.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventServlet</servlet-name>
    <url-pattern>/EventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventPage</display-name>
    <servlet-name>EventPage</servlet-name>
    <servlet-class>domain.EventPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventPage</servlet-name>
    <url-pattern>/EventPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEvent</display-name>
    <servlet-name>AddEvent</servlet-name>
    <servlet-class>domain.AddEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEvent</servlet-name>
    <url-pattern>/AddEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEvent</display-name>
    <servlet-name>UpdateEvent</servlet-name>
    <servlet-class>domain.UpdateEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEvent</servlet-name>
    <url-pattern>/UpdateEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEvent</display-name>
    <servlet-name>DeleteEvent</servlet-name>
    <servlet-class>domain.DeleteEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEvent</servlet-name>
    <url-pattern>/DeleteEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>domain.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChekFil</display-name>
    <servlet-name>ChekFil</servlet-name>
    <servlet-class>domain.ChekFil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChekFil</servlet-name>
    <url-pattern>/ChekFil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckFile</display-name>
    <servlet-name>CheckFile</servlet-name>
    <servlet-class>domain.CheckFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckFile</servlet-name>
    <url-pattern>/CheckFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseNotification</display-name>
    <servlet-name>CloseNotification</servlet-name>
    <servlet-class>domain.CloseNotification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseNotification</servlet-name>
    <url-pattern>/CloseNotification</url-pattern>
  </servlet-mapping>
</web-app>