@charset "UTF-8";
body {
	text-align: center;
	font-family: "Luxi sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
	color:#FFF;
	background-color : #000000;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	font-size : 14px;
}

#page {
	box-shadow:0px 0px 6px 0 #A9A9A9;
	-moz-box-shadow:0px 0px 6px 0 #A9A9A9;
	-webkit-box-shadow:0px 0px 6px #A9A9A9;
	float:none;
	width: 950px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:20px;
	color : black;
	background-color : #00000;
}
#entete {margin: auto; width: auto; opacity : 0.75;}
#menu {
	background-color:#111111;	
	height:40px;
	margin:auto;
	text-align:left;
	color : black;
	padding-top : 10px;
	padding-left : 10px;
	padding-right : 10px;
	border-bottom : 0.1em solid #FFFFFF;
}


#menubox {
	clear:both;
	height:auto;
	padding:5px;
	color: #FFFFF;
}
#results {
	clear:both;
	height:auto;
	padding:5px;
	border-width:1px;
	border-color:#FFF;
	border-style:solid;
	color: #FFFFF;
}

#contenu {
	padding: 20px;
	height:auto;
	color: #FFFFFF;
	text-align: center;
}
#advancedsearch {
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	float : left;
	width : 300px;
	height : auto;
	margin-bottom : 10px;
	border : 1px solid #F5F5F5;
	background-color:#111111;	
	
}
#artistsPreview {
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	float : left;
	width : 300px;
	height : auto;
	border : 1px solid #F5F5F5;
	color : #FFFFF;
	background-color:#111111;	
}
#artistsPreview h3 {
	border-top-right-radius:8px;
	border-top-left-radius:8px;
	-moz-border-radius-topright:8px;
	-moz-border-radius-topleft:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-top-left-radius:8px;
	margin : 0px;
	background-color : #DDDDDD;
	font-weight:bold;
	letter-spacing: 3px;
	color : #000000;
}
#artistsPreview h4 {
	margin-top:2px;
	text-align : left;
}
#artistsPreview h4:hover {
	margin-top:2px;
	text-align : left;
	background-color : grey;
}
#artistPreview {
	text-align : justify;
}
#news {
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width : 600px;
	float : right;
	border:0.1em solid #FFFFFF;
	background-color:#111111;	
}
#news h3 {
	border-top-right-radius:8px;
	border-top-left-radius:8px;
	-moz-border-radius-topright:8px;
	-moz-border-radius-topleft:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-top-left-radius:8px;
	margin : 0px;
	background-color : #DDDDDD;
	font-weight:bold;
	letter-spacing: 3px;
	color : black;
}
#new h4 {
	margin-top:0px;
}
#new {
	width : auto;
	position : relative;
	padding-right : 15px;
	padding-left : 15px;
	padding-bottom : 15px;
	text-align:justify;
	border-bottom:0.1em dotted #FFFFFF;
}
#new p {
	margin-top: 0px;
	float : right;
	width : 75%;
}
#new img {
	width : 23%;
}
#right {
	width:25%;
	height:auto;
	float:right;
	margin-right:25px;
}
#left{
	float:left;
	height:auto;
	width:70%;
}

#left_column {
	color: #000;
	margin-bottom: 20px;
	width:200px;
	float: right;
	height: auto;
	margin-left: 10px;
	border-width:1px;
	border-color:#FFF;
	border-style:solid;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	
	
	
	
}

#text {
	margin-left:10px;
	color: #000;
	overflow: auto;
	
}
#pied { clear:both; }

#kind {
	margin-bottom: 10px;
	border-color: #CCC;
	border-width: 1px;
	border-style: solid;
	text-align: center;
	margin-right: 40px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;

}
input, textarea
{
   font-family: "Times New Roman", Times, serif; 
}
 
input:focus, textarea:focus 
{
	background-color: #999;
}
 

 
legend 
{
	font-family: Arial, "Arial Black", Georgia, "Times New Roman", Times, serif;
	color: #BBBBBB;
	font-weight: bold;
}
 
fieldset
{
	border:solid;
	border-color:#CCC;
	border-width:1px;
	margin-bottom: 15px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin-right: 40px;
	
}
#menubutton {
	cursor : pointer;
	-moz-border-radius: 11px 11px 11px 11px;
    -moz-box-shadow: 0 1px 2px #666666;
    background: url("./Img/glass.png") repeat-x scroll 0 50% #DDDDDD;
    float: left;
    font-weight: bold;
    height: 13px;
    margin: 2px 5px;
    overflow: hidden;
    padding: 3px 0 4px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    font-family: "Lucida Grande","Trebuchet MS",sans-serif;
    font-size: 11px;
    color: #333333;
}
#menubutton:hover {
	background-color : #F1F1F1;
	color: #333333;
	font-family: "Lucida Grande","Trebuchet MS",sans-serif;
    font-size: 11px;
}
#left p {
	padding-left : 15px;
	padding-right : 15px;
}
#info {
	width : auto;
	position : relative;
	text-align:justify;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:0.1em solid #FFFFFF;
	background-color:#111111;	
}
#info h3 {
	padding-left : 30px;
	border-top-right-radius:8px;
	border-top-left-radius:8px;
	-moz-border-radius-topright:8px;
	-moz-border-radius-topleft:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-top-left-radius:8px;
	margin : 0px;
	background-color : #DDDDDD;
	font-weight:bold;
	letter-spacing: 3px;
	color : #000000;
}
#desc {
	width : auto;
	position : relative;
	text-align:justify;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:0.1em solid #FFFFFF;
	background-color:#111111;	
}
#desc h3 {
	padding-left : 30px;
	border-top-right-radius:8px;
	border-top-left-radius:8px;
	-moz-border-radius-topright:8px;
	-moz-border-radius-topleft:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-top-left-radius:8px;
	margin : 0px;
	background-color : #DDDDDD;
	font-weight:bold;
	letter-spacing: 3px;
	color : #000000;
}
#pic {
	border: 0;
	background-color:#FFFFF;	
}
#menulabel {
	font-family: "Lucida Grande","Trebuchet MS",sans-serif;
    font-size: 11px;
    color: #333333;
    margin-top: 5px;
}
#menu input {
	width : 90px;
	float : left;
}
#menu label {
	float : left;
}
#menubuttonform {
	cursor : pointer;
	-moz-border-radius: 11px 11px 11px 11px;
    -moz-box-shadow: 0 1px 2px #666666;
    background: url("./Img/glass.png") repeat-x scroll 0 50% #DDDDDD;
    float: left;
    font-weight: bold;
	height : 20px;
	margin: 2px 5px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    width: 90px;
    font-family: "Lucida Grande","Trebuchet MS",sans-serif;
    font-size: 11px;
    color: #333333;
    padding-bottom : 3px;
}
#eventbutton {
	cursor : pointer;
	-moz-border-radius: 11px 11px 11px 11px;
    -moz-box-shadow: 0 1px 2px #666666;
    background: url("./Img/glass.png") repeat-x scroll 0 50% #DDDDDD;
    font-weight: bold;
    height: 13px;
    margin-top : 5px;
    margin-bottom : 5px;
    overflow: hidden;
    padding: 3px 0 4px;
    text-align: center;
    text-decoration: none;
    font-family: "Lucida Grande","Trebuchet MS",sans-serif;
    font-size: 11px;
    color: #333333;
    width: 90px;
    float: left;
}
#eventbutton:hover {
	background-color : #F1F1F1;
	color: #333333;
	font-family: "Lucida Grande","Trebuchet MS",sans-serif;
    font-size: 11px;
}
.suggest_link {
	border : 1px solid;
}
.suggest_link_over {
	border : 1px solid;
	background-color : #F5F5F5;
}
#searchBox {
	float : right;
	position : relative;
	top : -27px;
	margin-right : 5px;
}
#search_suggest {
	position : absolute;
	top:27px;
	background-color : white;
	width : 150px;
	cursor : pointer;
}
#txtSearch {
	background : url("./Img/search.png") no-repeat scroll 7px 3px #FFFFFF;
	padding-left: 20px;
	padding-top:3px;
	padding-bottom : 3px;
	font-size: 11px;
	-moz-border-radius: 11px 11px 11px 11px;
}
#search_suggest_event {
	left:282px;
	position : relative;
	background-color : white;
	width : 100px;
	cursor : pointer;
}

table
{
	vertical-align : middle ;
   border-collapse: collapse;
   font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
   
}
td 
{
  
   font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;

   text-align: center; /* Tous les textes des cellules seront centrés*/
   padding-left: 5px;
}
th 
{
  
   font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
   text-align: center; /* Tous les textes des cellules seront centrés*/
   padding: 5px;
}

#events
{
	margin: auto; /* Centre le tableau */
	border: 4px;
	border-color:#000;
	text-align: center;
	padding: 5px;
	alignment-adjust: middle;
}

#events ul {
	margin : 0;
	margin-top : auto;
	margin-bottom : auto;
	padding : 0;
}
#events li {
	cursor : pointer;
}
#events a {
	color : #00000;
	text-align : left;
	cursor : pointer;
	text-decoration : none;
}
#form1 {
	text-align : left;
}
#form1 p {
	float : left;
	width : 70%;
}
#form1 label {
	margin-left : 1px;
	float : left;
	width: 33%;
	padding-right: 1%;
	text-align: right;
	letter-spacing: 1px;
}
#form1 input, #form1 textarea {
	margin-left: 1%;
	width: 25%;
	border: #CCC 1px solid;
}
#form1 input[type="submit"]
{
	border: #DDEEFF 1px solid;
	width: 27%;
}

#form1 input[type="submit"]:hover
{
	background-color: #66CC33;
	cursor: pointer;
}

#form1 input[type="reset"]
{
	border: #DDEEFF 1px solid;
	width: 27%;
}


#form1 input[type="reset"]:hover
{
	background-color: #E6484D;
	cursor: pointer;
	color: #FFFFFF;
}
#form1 select {
	margin-left: 1%;
	width: 20%;
	border: #CCC 1px solid;
}
#form1 select[name="Month"], #form1 select[name="Year"], #form1 select[name="Day"] {
	margin-left: 1%;
	width: 10%;
	border: #CCC 1px solid;
}
#notifications {
	position : fixed;
	right : 5px;
	top : 10px;
	color : #FFFFFF;
	display: block;
	width: 250px;
    z-index: 99;
}
#not {
	-moz-border-radius: 8px 8px 8px 8px;
    background: none repeat scroll 0 0 #CCCCCC;
    color: #FFFFFF;
    margin: 5px 0;
    opacity: 0.70;
    padding: 8px;
    position: relative;
    text-align: left;
    z-index: 99;
    font-size: 10px;
}
#not a{
	text-align : center;
	opacity: 0.75;
	cursor : pointer;
	text-decoration : none;
}
#not img {
	position: absolute;
    right: 5px;
    top: 5px;
    border : 0 none;
}
#searchdesc {
	background-color : #111111;
	width : auto;
	position : relative;
	padding : 15px;
	text-align:justify;
	float : left;
	width : 45%;
}
#searchdesc p {
	margin-top: 0px;
	float : right;
	width : 75%;
}
#searchdesc img {
	width : 23%;
}
#location {
	background-color : #111111;
	padding : 15px;
	width : 45%;
	float : right;
}
#not h3 {
	margin:0px;
	margin-bottom : 2px;
}
#close {
	position: relative;
	-moz-border-radius: 8px 8px 8px 8px;
    background: none repeat scroll 0 0 #CCCCCC;
    color: #000000;
    margin: 5px 0;
    opacity: 0.70;
	font-size: 10px;
    font-weight: bold;
    padding: 4px;
    text-align: center;
    text-transform: uppercase;
    z-index: 99;
    text-decoration: underline;
}
#close a{
	color : #000000;
	text-align : center;
	opacity: 0.75;
	cursor : pointer;
	text-decoration : none;
}
#close a{
	color : #000000;
	text-align : center;
	opacity: 0.75;
	cursor : pointer;
	text-decoration : none;
}
#calendar {
	width: 900px;
	margin: 0 auto;
	margin-top:20px;
}
a {
	color : #FFFFFF;
}
.notiflink {
	color : #FFFFFFF;
}
.uploadifyButton {
	background-color: #505050;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFF;
	font: 12px Arial, Helvetica, sans-serif;
	padding: 8px 0;
	text-align: center;
	width: 100%;
}
.uploadify:hover .uploadifyButton {
	background-color: #808080;
}
.uploadifyQueueItem {
	background-color: #F5F5F5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	max-width: 350px;
	padding: 10px;
}
.uploadifyError {
	background-color: #FDE5DD !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyQueue .completed {
	background-color: #E5E5E5;
}
.uploadifyProgress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}
#map_container
{
	background:#F5F5F5;
	border:1px solid #C0C0C0;
	color: #14489E;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	box-shadow:3px 3px 6px 0 #A9A9A9;
	-moz-box-shadow:3px 3px 6px 0 #A9A9A9;
	-webkit-box-shadow:3px 3px 6px #A9A9A9;
	margin-left: auto;
	margin-right: auto; 
	width:580px; 
	height:410px;
	padding: 5px 5px 5px 5px;
}
#map_canvas 
{
	margin:auto; 
	width:100%; 
	height:100%;
}
#loginpage {
	width : 500px;
	height : auto;
	background-color : #F5F5F5;
	display : block;
	margin : auto;
	border: 0.1em solid #DDD;
}
.formlabel {
	float: left;
	text-align: right;
	width: 40%;
	margin-bottom : 10px;
}
.forminput {
	float: right;
	width: 59%;
	text-align : left;
	margin-bottom : 10px;
}
#player {
	margin-top : 20px;
	position : relative;
}
#pic2 {
	width:25%;
	height:auto;
	text-align : center;
	margin-left: 35%;
	margin-right: 32%;
}
#upload{
	margin-left:40%;
	margin-top:15px;
}
#musicup{
	margin-left:40%;
	margin-top:15px;
}

#infosearch {
	background-color : #111111;
	cursor : pointer;
	width : auto;
	position : relative;
	text-align:justify;
	margin-bottom : 10px;
}
#infosearch h3 {
	padding-left : 30px;
	margin : 0px;
	background-color : #DDDDDD;
	font-weight:bold;
	letter-spacing: 3px;
	color : black;
}
#infosearch:hover {
	opacity : 0.75;
}
#form2 {
	text-align : left;
	padding-top : 5px;
}
#form2 p {
	width : 95%;
	margin-top : 0px;
	margin-bottom : 10px;
}
#form2 label {
	margin-left : 1px;
	float : left;
	width: 45%;
	padding-right: 1%;
	text-align: right;
	letter-spacing: 1px;
}
#form2 input {
	margin-left: 1%;
	width: 50%;
	border: #CCC 1px solid;
}
#form2 select {
	margin-left: 1%;
	width: 30%;
	border: #CCC 1px solid;
	margin-bottom:10px;
}
#form2 input[type="submit"] {
	cursor : pointer;
	float : right;

	margin-right : 5px;
	margin-bottom:10px;

