@charset "UTF-8";
/* CSS Document */
body {
	text-align: center;
	font-family: "Luxi sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
	color:#FFF;
	background-image: url(background.jpg);
	background-repeat:no-repeat;
	width:1280px;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
}
#page {
	float:none;
	width: 60em;
	background-color:#D6D6D6;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: #FFF;
	border-width: 1px;
}
#entete { padding:5px; margin: auto; width: auto; }
#menu {
	float:left;
	width:20%;
	height:auto;
	margin:auto;
	margin-top:10px;
	text-align:left;
}


#loginbox { height:auto; font-size:12px; padding:5px;  border-width:1px; border-color:#FFF; border-style:solid;  margin-bottom:10px;}
#loginbox label {
	display: block;
	width: 42%;
	float: left;
	padding-right: 1%;
	text-align: right;
	letter-spacing: 1px;
	color: #000;
}
#loginbox input {
	margin-left: 1%;
	width: 55%;
	border: #CCC 1px solid;
}
#menubox {
	clear:both;
	height:auto;
	padding:5px;
	border-width:1px;
	border-color:#FFF;
	border-style:solid;
	color: #000;
}
#result {
	clear:both;
	height:auto;
	padding:5px;
	border-width:1px;
	border-color:#FFF;
	border-style:solid;
	color: #000;
}

#contenu {
	float:left;
	width:78%;
	height:auto;
	padding-left: 10px;
	margin-top:10px;
	color: #000;
	text-align: center;
	padding-right: 10px;
}

#left_column {
	color: #000;
	margin-bottom: 20px;
	width:200px;
	float: right;
	height: auto;
	
	
	
	
}

#text {
	margin-left:10px;
	margin-right: 210px;
	color: #000;
}
#pied { clear:both; }

/*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#FFF', EndColorStr='#000'); background:-moz-linear-gradient(left, #FFF 0%, #000 100%); background:-webkit-gradient(linear, left top, right top, color-stop(0,#FFF), color-stop(1, #000));*/
#kind {
	margin-bottom: 10px;
	border-color: #FFF;
	border-width: 1px;
	border-style: solid;
	text-align: center;

}
input, textarea
{
   font-family: "Times New Roman", Times, serif; 
}
 
input:focus, textarea:focus 
{
	background-color: #999;
}
 

 
legend 
{
	font-family: Arial, "Arial Black", Georgia, "Times New Roman", Times, serif;
	color: #E17100;
	font-weight: bold;
}
 
fieldset
{
   margin-bottom: 15px; 
   background-color: #D6D6D6;
}
