@charset "UTF-8";
/* CSS Document */
body {
	text-align: center;
	font-family: "Luxi sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
	color:#FFF;
	background-image: url(background.jpg);
	background-repeat:no-repeat;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}
#page {
	float:none;
	width: 60em;
	background-color:#F5F5F5;

	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: #FFF;
	border-width: 1px;
		border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	box-shadow : 3px 3px 6px 0 #333;
	-moz-box-shadow: 3px 3px 6px 0 #333;
	-webkit-box-shadow: 3px 3px 6px 0 #333;
	padding-bottom:20px;
	color : black;
}
#entete { padding:5px; margin: auto; width: auto; }
#menu {
	width:95%;
	height:40px;
	margin:auto;
	margin-top:10px;
	text-align:left;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	box-shadow : 3px 3px 6px 0 #333;
	-moz-box-shadow: 3px 3px 6px 0 #333;
	-webkit-box-shadow: 3px 3px 6px 0 #333;
	border-style: solid;
	border-width: 1px;
	color : black;
}


#menubox {
	clear:both;
	height:auto;
	padding:5px;
	color: #000;
}
#results {
	clear:both;
	height:auto;
	padding:5px;
	border-width:1px;
	border-color:#FFF;
	border-style:solid;
	color: #000;
}

#contenu {
	padding: 20px;
	width:100%;
	height:auto;
	margin-top:10px;
	color: #000;
	text-align: center;
}

#right {
	width:25%;
	height:auto;
	float:right;
	margin-right:25px;

}
#left{
	float:left;
	height:auto;
	width:70%;
}

#left_column {
	color: #000;
	margin-bottom: 20px;
	width:200px;
	float: right;
	height: auto;
	margin-left: 10px;
	border-width:1px;
	border-color:#FFF;
	border-style:solid;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	
	
	
	
}

#text {
	margin-left:10px;
	color: #000;
	overflow: auto;
	
}
#pied { clear:both; }

/*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#FFF', EndColorStr='#000'); background:-moz-linear-gradient(left, #FFF 0%, #000 100%); background:-webkit-gradient(linear, left top, right top, color-stop(0,#FFF), color-stop(1, #000));*/
#kind {
	margin-bottom: 10px;
	border-color: #CCC;
	border-width: 1px;
	border-style: solid;
	text-align: center;
	margin-right: 40px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;

}
input, textarea
{
   font-family: "Times New Roman", Times, serif; 
}
 
input:focus, textarea:focus 
{
	background-color: #999;
}
 

 
legend 
{
	font-family: Arial, "Arial Black", Georgia, "Times New Roman", Times, serif;
	color: #C00;
	font-weight: bold;
}
 
fieldset
{
	margin-bottom: 15px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin-right: 40px;
	
}
#menubutton {
	color : #000;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
#menubutton:hover {
	color : black;
	background-color : #D7D7D7;
}
#info {
	border: 1px solid;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	box-shadow : 3px 3px 6px 0 #333;
	-moz-box-shadow: 3px 3px 6px 0 #333;
	-webkit-box-shadow: 3px 3px 6px 0 #333;
}
#desc {
		border: 1px solid;

	margin-top : 20px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	box-shadow : 3px 3px 6px 0 #333;
	-moz-box-shadow: 3px 3px 6px 0 #333;
	-webkit-box-shadow: 3px 3px 6px 0 #333;
}
